#root,html,body{
  margin:0;
  padding:0;
  height:100vh;
  box-sizing: border-box;
}
.app{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  background:#dbd3d8 ;
  background-size:auto;
  background-image: url(rocklogo.png);

  background-position:top;

  background-repeat: no-repeat;
  opacity:0.9;
 

}

.card{
  height: 40%;
  width: 60%;

  justify-content:center;
  align-items:center;
  text-align: center;
  opacity: 0.8;
  display: flex;
  
  flex-direction: column;
  background-color:#eff1f3;
  border:black,solid,1px;
  border-radius: 8px;
  box-shadow:8px 8px 5px black;
  margin-top: 150px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button {
  position: static;
  outline: none;
 ;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 70px;
  width: 150px;
  opacity: 1;
  background-color: rbga(0,0,0,0.5);
  border: 1px solid black;
  color: black;
}
  
.button span {
  color:black;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
  
.button:hover{
  animation:rotate 0.7s ease-in-out both;
  background-color:rgba(6, 183, 253, 0.3);
}
.button:hover span{
  animation:storm 0.7s ease-in-out both;
  animation-delay: 0.06;
  

}


@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  

@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
}